/* @import './base.css'; */
body {
  margin: 0 auto;
  transition: color 0.5s, background-color 0.5s;
  /* line-height: 1.6; */
  font-family:  'Fira Sans', 'Droid Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.wrapper {
  overflow: auto;
}

.wrapper-content-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;
}

.section-header{
  width: 100%;
  color: #161c2c;
  font-size: 2rem;
  margin-bottom: 40px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    transition: 0.8s;
  }
}

/* @media (max-width: 700px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
  .wrapper{
    padding: 5px;
  }
} */

